.classpath
.project
.settings/
*.class
*.zip
*.jar
*.tar.gz
/target/
!/src/main/resources/*
!/src/test/resources/*
/src/test/data/*~
/src/test/data/*.log
/src/test/data/cameradata/
/src/test/data/output
nbbuild.xml
nbactions.xml
Thumbs.db
/nbproject/
